<div class="container-fluid mt--9 mb-5">
    <div class="row align-items-center">
        <button class="btn btn-primary" [routerLink]="['/reports']">Back</button>
    </div>
    <h2 class="text-center">CLIENTS LIST</h2>
    <div class="search">
        <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Search by Client Name" />
      </div>
    <div class="table-responsive text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span>
                        <!-- <fa-icon [icon]="'sort'"></fa-icon> -->
                    </th>
                    <th><span>NAME</span>
                        <!-- <fa-icon [icon]="'sort'"></fa-icon> -->
                    </th>
                    <th><span>Action</span></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let client of clientsList | clientFilter:searchText:['clientName'] | paginate: config ">
                    <td>{{client.id}}</td>
                    <td>{{client.clientName}}</td>
                    <td class="text-center">
                        <div class="btn-group flex-btn-group-container">
                            <!-- <button type="submit" class="btn btn-primary btn-sm"
                            (click)="editClient(client.id)">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button> -->
                            <button type="button" class="btn btn-danger btn-sm" (click)="deleteClient(client.id)">
                                <fa-icon [icon]="'times'"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls class="text-center" (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>