<div class="container-fluid mt--9 mb-5">
    <div class="card">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <button class="btn btn-primary" [routerLink]="['/dashboard']">Back</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form name="form" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" novalidate>
                        <h2 class="text-center">ADD EMPLOYEE</h2>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="addEmployee.name"
                                #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }"
                                pattern="^[A-Za-z -]+$" required />
                            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                                <div *ngIf="name.errors.required">This field is required</div>
                                <div *ngIf="name.errors.pattern">Name shouldn't contain numeric or special characters
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" name="email" [(ngModel)]="addEmployee.email" type="email"
                                #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required>
                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone No</label>
                            <input type="text" class="form-control" name="phone" [(ngModel)]="addEmployee.phone"
                                pattern="[0-9]{10}" #phone="ngModel" maxlength="10"
                                [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required />
                            <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                                <div *ngIf="phone.errors.required">This field is required</div>
                                <div *ngIf="phone.errors.pattern">Phone number is invalid
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <textarea class="form-control" name="address" rows="3" cols="5"
                                [(ngModel)]="addEmployee.address" #address="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" style="resize: none"
                                required></textarea>
                            <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                                <div *ngIf="address.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" (click)="reset()">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>