<div class="container-fluid mt--9 mb-5">
    <div class="card">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <button class="btn btn-primary" [routerLink]="['/dashboard']">Back</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form name="form" (ngSubmit)="f.form.valid && onSave()" #f="ngForm" novalidate>
                        <h2>ADD EMPLOYEE</h2>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" [(ngModel)]="addEmployee.name"
                                #name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && name.invalid }" required />
                            <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
                                <div *ngIf="name.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phoneNum">Phone No</label>
                            <input type="text" class="form-control" name="phoneNum" [(ngModel)]="addEmployee.phoneNum"
                                #phoneNum="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phoneNum.invalid }"
                                required />
                            <div *ngIf="f.submitted && phoneNum.invalid" class="invalid-feedback">
                                <div *ngIf="phoneNum.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input class="form-control" name="email" [(ngModel)]="addEmployee.email" type="email"
                                #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required>
                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input class="form-control" name="address" [(ngModel)]="addEmployee.address" type="text"
                                #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }"
                                required>
                            <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                                <div *ngIf="address.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="submitButton">
                            <button type="submit" class="btn btn-primary text-center">Save</button>
                            <button type="button" class="btn btnStyle btn-secondary" (click)="reset()">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>