<div class="container-fluid mt--9 mb-5">
    <div class="card">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <button class="btn btn-primary" [routerLink]="['/dashboard']">Back</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                        <h2>ADD CLIENT</h2>
                        <div class="form-group">
                            <label for="clientName">Client Name</label>
                            <input type="text" class="form-control" name="clientName" [(ngModel)]="addClient.clientName"
                                #clientName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clientName.invalid }" pattern="[A-Za-z]{1,32}" required />
                            <div *ngIf="f.submitted && clientName.invalid" class="invalid-feedback">
                                <div *ngIf="clientName.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="submitButton">
                            <button type="submit" class="btn btn-primary text-center">Save</button>
                            <button type="button" class="btn btnStyle btn-secondary" (click)="reset()">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>