input .form-control-search {
  border: 2px solid #3e8acc !important;
}

.search {
  max-width: 500px;
  padding-bottom: 20px;
  margin: auto;
  float: left;
}

.form-control-client {
  border: 2px solid #3e8acc !important;
}
.form-control-client::placeholder {
  font-family: FontAwesome;
}
p {
  color: red;
  font-weight: bold;
  font-size: 18px;
}
.ng-invalid:not(form) {
  border-left: 1px solid #ced4da;
}

.form-control.is-invalid {
  border-color: #dc3545 !important;
}
.star {
  color: red;
}
