<div class="container-fluid mt--9 mb-5">
    <div class="card">
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <button class="btn btn-primary" [routerLink]="['/dashboard']">Back</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
                        <h2 class="text-center">ADD CLIENT</h2>
                        <div class="form-group">
                            <label for="clientName">Client Name</label>
                            <input type="text" class="form-control" name="clientName" [(ngModel)]="addClient.clientName"
                                #clientName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && clientName.invalid }"
                                [value]="addClient.clientName" required />
                            <div *ngIf="f.submitted && clientName.invalid" class="invalid-feedback">
                                <div *ngIf="clientName.errors.required">This field is required</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-secondary" (click)="reset(f)">
                                Reset
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="search">
                <input type="text" [(ngModel)]="searchText" placeholder="Search by Client Name" />
              </div>
            <div class="table-responsive text-center">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><span>ID</span>
                                <!-- <fa-icon [icon]="'sort'"></fa-icon> -->
                            </th>
                            <th><span>NAME</span>
                                <!-- <fa-icon [icon]="'sort'"></fa-icon> -->
                            </th>
                            <th><span>Action</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let client of clientsList | clientFilter:searchText:['clientName'] | paginate: config ">
                            <td>{{client.id}}</td>
                            <td>{{client.clientName}}</td>
                            <td class="text-center">
                                <div class="btn-group flex-btn-group-container">
                                    <button type="submit" class="btn btn-primary btn-sm"
                                        (click)="editClient(client.id)">
                                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                                        <span class="d-none d-md-inline">Edit</span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm"
                                        (click)="deleteClient(client.id)">
                                        <fa-icon [icon]="'times'"></fa-icon>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pagination-controls class="text-center" (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </div>
    </div>
</div>