<div class="container-fluid mt--9 mb-5">
    <div class="row align-items-center">
        <button class="btn btn-primary" [routerLink]="['/dashboard']">Back</button>
    </div>
    <h2 class="text-center">RELEASE ASSET</h2>
    <div class="search">
        <input type="text" [(ngModel)]="searchText" placeholder="Enter Serial No. or Name" />
    </div>
    <div class="table-responsive text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th><span>ASSET TYPE</span>
                        <!-- <fa-icon [icon]="'sort'"></fa-icon> -->
                    </th>
                    <th><span>SERIAL NO.</span>
                        <!-- <fa-icon [icon]="'sort'"></fa-icon> -->
                    </th>
                    <!-- <th><span>MODEL NO.</span></th>
                    <th><span>MANUFACTURER</span></th>
                    <th><span>PROCUREMENT DATE</span></th> -->
                    <th><span>ASSIGN TO</span></th>
                    <th><span>ASSIGNMENT DATE</span></th>
                    <th><span>REASON</span></th>
                    <th><span>ACTION</span></th>
                </tr>
            </thead>
            <tbody>
                <ng-container
                    *ngFor="let assign of assignAssetList  | nameFilter:searchText:['assignTo', 'serialNumber'] |  paginate: config;let i = index">
                    <tr>
                        <td>{{assign.assetType}}</td>
                        <td>{{assign.serialNumber}}</td>
                        <td>{{assign.assignTo}}</td>
                        <td>{{assign.assignmentDate | date: "dd-MM-yyyy"}}</td>
                        <td class="text-center">
                            <textarea class="form-control" [(ngModel)]="assign.reason" rows="1" cols="3" #reason
                                value="demo" placeholder="Write reason.." required></textarea>
                        </td>
                        <td class="text-center">
                            <div class="btn-group flex-btn-group-container">
                                <button type="button" class="btn btn-danger btn-sm"
                                    (click)="releaseAssignedAsset(assign)">
                                    <fa-icon [icon]="'times'"></fa-icon>
                                    <span class="d-none d-md-inline">Release</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
        <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
    </div>
</div>