input {
  border: 2px solid #3e8acc !important;
}

.search {
  max-width: 500px;
  padding-bottom: 20px;
  margin: auto;
  float: left;
}

// .form-control {
// box-shadow: 0 10px 40px 0 #b0c1d9;
// }
.form-control::placeholder {
  font-family: FontAwesome;
}
p {
  color: red;
  font-weight: bold;
  font-size: 18px;
}
