<div class="container-fluid mt--9 mb-5">
  <div class="row align-items-center">
    <button class="btn btn-primary" [routerLink]="['/reports']">Back</button>
  </div>
  <h2 class="text-center">REPORT</h2>
  <div class="search">
    <input class="form-control" type="search" [(ngModel)]="searchText" placeholder="Search by Serial.No/Name" />
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Asset Type</th>
          <th scope="col">Serial Number</th>
          <th scope="col">Modal Number</th>
          <th scope="col">Manufacturer</th>
          <th scope="col">Procurement Date</th>
          <th scope="col">Status</th>
          <th scope="col">Assigned To</th>
          <th scope="col">Assignment Date</th>
        </tr>
      </thead>
      <tbody *ngIf="listAllAssetReports.length">
        <tr
          *ngFor="let asset of listAllAssetReports  | nameFilter:searchText:['assignTo', 'serialNumber'] | paginate: config">
          <!-- <th scope="row">1</th> -->
          <td>{{asset.assetType}}</td>
          <td>{{asset.serialNumber}}</td>
          <td>{{asset.modelNumber}}</td>
          <td>{{asset.manufacturer}}</td>
          <td>{{asset.procurementDate | date: "dd-MM-yyyy"}}</td>
          <td>{{asset.status}}</td>
          <td>{{asset.assignTo}}</td>
          <td>{{asset.assignmentDate | date: "dd-MM-yyyy"}}</td>
        </tr>
      </tbody>
    </table>
    <p class="text-center" *ngIf="(listAllAssetReports | nameFilter: searchText).length == 0">No matching records found
    </p>
    <pagination-controls class="text-center" (pageChange)="pageChanged($event)"></pagination-controls>
  </div>
</div>